.root {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  background: radial-gradient(47.39% 118.47% at 3.68% -21.35%, rgba(255, 219, 19, 0.1) 0%, rgba(255, 125, 75, 0.1) 30.4%, rgba(231, 130, 247, 0.1) 62.15%, rgba(216, 65, 137, 0.1) 100%);
}

.dashboard {
  background: #FAF5F2;
  border: 6px solid rgba(39, 41, 49, 0.07);
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
  width: 100%;
}

.layout {
  padding: 30px 20px 20px 20px;
  display: flex;
}
